

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:6px 12px;
	margin:3.5px;
	color:#888;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12.5px;
	background-color:white;
}

#page_nav_headlines {
	padding:3px 5px;
	margin-left: -10px;
	font-size:10px;
}
.active_page{
	background-color:#444 !important;
	color:white !important;
}	

.content, .alt_content{
	color: black;
}

.content li, .alt_content li, .content > p{
	padding: 5px
}